@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<h2>Trang chủ</h2>
Views/TestPartialViewResult.cshtml
@{
    ViewBag.Title = "TestPartialViewResult";
}
<h3>PartialViewResult</h3>
<ol>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
</ol>
Views/TestViewResult.cshtml
@{
    ViewBag.Title = "TestViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>ViewResult </h2>