
@{
    ViewBag.Title = "TestPartialViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>PartialViewResult</h3>
<ol>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
</ol>

